<div *ngIf="product">
    <div class="container">
        <button type="button" class="btn btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
        <div class=row>
            <div class="col-12">
                <div class="card">
                    <img [src]="product.image"  class="card-img-top"[alt]="product.title">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title | uppercase}}</h5>
                      <p class="card-text">{{product.description }}</p>
                      <button (click)="sendNumber()" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart </button>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
   
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>