<div *ngIf="product">
    <div class="container">
        <button type="button" class="btn btn-default" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
        <div class=row>
            <div class="col-12">
                <div class="card">
                    <img [src]="product.image"  class="card-img-top"[alt]="product.title">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title | uppercase}}</h5>
                      <p class="card-text">{{product.description }}</p>
                      <button (click)="sendNumber()" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart </button>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
    
    
  
      
      

   
</div>